.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.wrapper{
    margin-top: 100px;
    width: 70%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.tittle{
    width: 100%;

}
.tittle h1{
    font-size: 48px;
    
}
.tittle p{
    font-size: 20px;
    margin-top: 20px;
}

.card_wrapper{
    width: 100%;
    height: 500px;
    flex-direction: column;
    display: flex;
    
}
.card{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid gray;
    margin-top: 20px;
    
}
.card:last-child{
    border-bottom: none;
}
.card_name{
    width: 100%;
    font-size: 24px;
}
.card_router{
    font-size: 20px;
    margin-top: 20px;
}
.data{
    font-size: 20px;
    margin-top: 20px;
}
.description{
    margin-top: 20px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_info {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user_info p {
    margin-bottom: 10px;
    text-align: right;
  }
  .user_info .info_label {
    text-align: right;
  }
  
  .user_info .info_value {
    text-align: left;
  }

  .button{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #42F58A;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}