.section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 70%;
    height: 100%;
    padding-top: 50px;
    margin-top: 80px;
    padding-bottom: 100px;
    flex-direction: column;
    display: flex;
}
.tittle{
    width: 100%;
}
.tittle h1{
    font-size: 48px;
}
.tittle p{
    font-size: 20px;
    margin-top: 15px;
}
.tittle p span{
    cursor: pointer;
    color: #42F58A;
}
